# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

jlink.*
*.componentinfo.xml
.vs/
Debug/
Release/
/Firmware/HMI/SurfaceGrinder.4DWork
Firmware/HMI/SURFAC~1.gci
Firmware/HMI/SURFAC~1.dat
Firmware/HMI/SurfaceGrinder.4XE
Firmware/HMI/SurfaceGrinder.cfg
/Firmware/ClearCoreArduino/__vm
*.user
*.filters
*.4DGTX
